absl-py==0.2.2
astor==0.7.1
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.6
colorama==0.3.9
colorlog==3.1.4
colormap==1.0.1
coremltools==0.8
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
docopt==0.6.2
easydev==0.9.37
gast==0.2.0
grpcio==1.13.0
idna==2.7
ijson==2.3
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
networkx==2.2
numpy==1.14.5
pandas==0.23.3
pexpect==4.6.0
Pillow==5.2.0
protobuf==3.6.0
ptyprocess==0.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-magic==0.4.15
pytz==2018.5
PyWavelets==1.0.1
requests==2.19.1
s3cmd==2.0.1
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.10.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tfcoreml==0.2.0
toolz==0.9.0
urllib3==1.23
virtualenv==16.0.0
Werkzeug==0.14.1
